.idea/
ar/data/
ar/rgz_creds
ar/idp_creds
ar/client_secrets
ar/token.json
ar/osm-password
ar/geckodriver
ar/geckodriver.log
ar/clean.log
ar/rt-clean.log
ar/upload.log
ar/rt-upload.log
sz/data/
sz/output/
sz/run.log
st/idp_creds
st/data/
st/geckodriver
st/geckodriver.log
st/clean.log
st/upload.log
st/client_secrets